[Unit]
Description=model swapping for llama.cpp

[Service]
ExecStart=/usr/bin/llama-swap -config /vol/llm/llama-swap/config.yaml -listen :8080 -watch-config
User=marshall
Group=marshall
Restart=always

[Install]
WantedBy=multi-user.target
